img {
  width: 100%;
  margin-bottom: 10px;
}

/*.row {*/
/*  margin-bottom: 10px;*/
/*}*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*.features {*/
/*  font-size: 19px;*/
/*}*/
